{% extends "base.html" %}
{% block body %}
<div class="account-info">
	<section class="user-info row">
		{% csrf_token %}
		<article class="profile-img col-md-2">
			<img src="{{ student.image.url }}">
		</article>
		<article class="name col-md-2">
			<label>שם:</label>
			<p>{{ viewed_user.get_full_name }}</p>
			<a href="#" class="modal-btn" data-toggle="modal" data-name="name" data-target="#editModal">ערוך</a>
		</article>
		<article class="email col-md-2">
			<label>מייל:</label>
			<p>{{ viewed_user.email }}</p>
			<a href="#" class="modal-btn" data-toggle="modal" data-name="email" data-target="#editModal">ערוך</a>
		</article>
		<article class="tags col-md-4">
			<label>תגיות:</label>
			<p>
				{% for t in student.tags.all %}
				{% if not forloop.first %}, {% endif %}
	            {{ t.name }}
	       		{% endfor %}
       		</p>
       		<a href="#" class="modal-btn" data-toggle="modal" data-name="tags" data-target="#editModal">ערוך</a>
		</article>
		<article class="categories col-md-2">
			<label>קטגוריות:</label>
			<p>
				{% for c in student.categories.all %}
				{% if not forloop.first %}, {% endif %}
	            {{ c.name }}
	       		{% endfor %}
       		</p>
       		<a href="#" class="modal-btn" data-toggle="modal" data-name="categories" data-target="#editModal">ערוך</a>
		</article>
	</section>
	{% if editable %}
	<section class="user-messages">
		{% for m in messages %}
		<article class="row message-row" >
			<article class="col-md-3">
				<p>נושא: {{ m.title }}</p>
			</article>
			<article class="col-md-3">
				<p>מ: {{ m.sender }}</p>
			</article>
			<article class="col-md-6">
				<p>תוכן: {{ m.content }}</p>
			</article>
		</article>
		{% endfor %}
	</section>
	{% endif %}
	<section class="user-posts row">
		{% for p in user_posts %}
		<article class="post-row col-md-12">
			<h3>{{ p.title }}</h3>
			<p>{{ p.content }}</p>
			<article>
				<h4>קטגוריות:</h4>
				<p>
					{% for c in p.categories.all %}
					{% if not forloop.first %}, {% endif %}
		            {{ c.name }}
		       		{% endfor %}
				</p>
			</article>
			<article>
				<h4>תוכן:</h4>
				<p>
		            {{ p.content }}
				</p>
			</article>
			<article>
				<h4>תגיות:</h4>
				<p>
					
					{% for t in p.tags.all %}
					{% if not forloop.first %}, {% endif %}
		            {{ t.name }}
		       		{% endfor %}
				</p>
			</article>
			<article>
				<h4>נוצר ב:</h4>
				<p>{{ p.created }}</p>
			</article>
		</article>
		{% endfor %}
	</section>
	{% if editable %}
	{% include "account/profile_modal.html" %}
	{% endif %}
</div>

{% endblock %}
{% block extra_body %}
<script type="text/javascript">
function resetForm(){
	$('#editModal .active-section').removeClass('active-section').addClass('hide');
	$('#errors').html('').addClass('hide');	
}
	
</script>
{% endblock %}
{% block jquery_ready %}
{# <script> #}

{% if editable %}

$('.modal-btn').click(function(){
	var name = $(this).data('name');
	var input_elem = $('#editModal .'+ name + '-edit');
	input_elem.removeClass('hide').addClass('active-section');
});


$('#editModal .btn-primary').click(function(){
	var field2_val=false, field2_name=false;
	var active_el = $('#editModal .active-section');
	var is_name = false;
	var field1_val = active_el.find("input").first().val();
	var field1_name = active_el.find("input").first().attr("name");
	var model = active_el.data('model');
	if(!field1_val){
		$('#errors').html('*לא יכול להשאר ריק').removeClass('hide');	
		return;
	}
	if(active_el.hasClass('name-edit')){
		field2_val = active_el.find("input").eq(1).val(); 
		field2_name = active_el.find("input").eq(1).attr("name");
	}
	$.ajax({  
		type: "POST",  
		url: '{% url "update_profile" %}',
		data: { 
				'field1_val':field1_val,
				'field1_name':field1_name,
				'field2_name':field2_name,
				'field2_val':field2_val,
			 	'model':model,
			 	'csrfmiddlewaretoken':$('input[name="csrfmiddlewaretoken"]').val() 
			  },  
		success:function(data){
			if(data['status']){
				$('.user-info .' + data['field_name'] + ' p').html(data['field_value'] )
				if(data['field2_name'])
					$('.user-info .' + data['field2_name'] + ' p').html(data['field2_value'] )
				$('#editModal').modal('hide');
				resetForm();
			}	
			else{
				$('#errors').html('an error occured we\'r sorry').show();
			} 
		}
	});
});

{% else %}

$('.modal-btn').remove();

{% endif %}

{% endblock %}
