{% extends "base.html" %}
{% block body %}
<div class="login">
	<section class="registration">
	  <section class="tab-pane" id="profile">
	  	<h2>Log in</h2>
	  	{% if form.errors %}
			{{ form.errors }}
		{% endif %}
	  	  <form action="" method="post">
		    <label for="username">User name\Email:</label>
		    <input type="text" name="email" value="" id="username">
		    <label for="password">Password:</label>
		    <input type="password" name="password" value="" id="password">
		    <input type="submit" value="login" />
		    {% csrf_token %}
		  </form>
	  </section>
	</section>
</div>
{% endblock %}
