<div class="modal fade" id="editModal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="Edit profile" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" onclick="resetForm()" class="close" data-keyboard="false" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">ערוך פרופיל</h4>
        <p class="error hide" id="errors"></p>
      </div>
      <div class="modal-body">
       <form id="profileForm">
        <section data-model="user" class="name-edit hide">
        	<article class="form-group ">
				<label for="first_name">*שם פרטי:</label>
				<input type="text" class="form-control" name="first_name" value="{{ user.first_name }}" id="firstname">
			</article>
			<article class="form-group ">
				<label for="last_name">שם משפחה:</label>
				<input type="text" class="form-control" name="last_name" value="{{ user.last_name }}" id="lastname">
			</article>
        </section>
        <section data-model="user" class="email-edit hide">
        	<article class="form-group">
				<label for="email">*אימייל:</label>
				<input type="text" class="form-control" name="email" value="{{ user.email }}" id="username">
			</article>
        </section>
        <section data-model="student" class="tags-edit hide">
        	<article class="form-group ">
				<label>תגיות:</label>
				<input id="id_tags" value="{% for t in student.tags.all %}{% if not forloop.first %}, {% endif %}{{ t.name }}{% endfor %}" class="form-control" name="tags" type="text">
			</article>
        </section>
        <section data-model="student" class="categories-edit hide">
        	<article class="form-group">
				<label>קטגוריות:</label>
				<select multiple="multiple" class="form-control" id="id_categories" name="categories">
					{% for c in categories %}
					<option value="{{ c.id }}" {% if c in student.categories.all %}selected="selected"{% endif %}>{{ c.name }}</option>
					{% endfor %}
				</select>
			</article>
        </section>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="resetForm()" class="btn btn-default" data-dismiss="modal">בטל</button>
        <button type="button" class="btn btn-primary">שמור</button>
      </div>
    </div>
  </div>
</div>