{% extends "base.html" %}
{% block body %}
<div class="container">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs">
	  <li class="active"><a href="#home" data-toggle="tab">Sign up</a></li>
	  <li><a href="#profile" data-toggle="tab">Log in</a></li>
	</ul>
	<!-- Tab panes -->
	<div class="registration tab-content">
	  <div class="tab-pane active" id="home">
	  	<h2>Sign up</h2>
{% if form.errors %}
	{{ form.errors }}
{% endif %}
	  	  <form action="" class="signup" method="post">
	  	  	<label for="username">first name:</label>
		    <input type="text" name="first_name" value="" id="firstname">
		    <label for="username">last name:</label>
		    <input type="text" name="last_name" value="" id="lastname">
		    <label for="email">User name\Email:</label>
		    <input type="text" name="email" value="" id="username">
		    <label for="password">Password:</label>
		    <input type="password" name="password" value="" id="password">
		    <input type="submit" value="Sign up" />
		    {% csrf_token %}
		  </form>
	  </div>
	  <div class="tab-pane" id="profile">
	  	<h2>Log in</h2>
	  	  <form action="{% url 'login' %}" method="post">
		    <label for="username">User name\Email:</label>
		    <input type="text" name="email" value="" id="username">
		    <label for="password">Password:</label>
		    <input type="password" name="password" value="" id="password">
		    <input type="submit" value="login" />
		    {% csrf_token %}
		  </form>
	  </div>
	</div>
</div>
{% endblock %}
