{% extends "base.html" %}
{% block body %}
<div class="signup">
	<section class="registration tab-content">
		<section class="tab-pane active" id="home">
			<h2>הרשמה</h2>
			{% if form.errors %}
			{{ form.errors }}
			{% endif %}
			{% if not user.is_authenticated %}
			<form action="" class="row" method="post">
				<article class="form-group col-md-2">
					<label for="username">*שם פרטי:</label>
					<input type="text" class="form-control" name="first_name" value="" id="firstname">
				</article>
				<article class="form-group col-md-2">
					<label for="username">שם משפחה:</label>
					<input type="text" class="form-control" name="last_name" value="" id="lastname">
				</article>
				<article class="form-group col-md-2">
					<label for="email">*אימייל:</label>
					<input type="text" class="form-control" name="email" value="" id="username">
				</article>
				<article class="form-group col-md-2">
					<label for="password">*סיסמא:</label>
					<input type="password" class="form-control" name="password" value="" id="password">
				</article>
				<button type="submit" class="btn btn-info col-md-2">לשלב הבא!</button>
				{% csrf_token %}
			</form>
			
			{% elif not user.student %}

			<form action="{% url 'create_student' %}" class="signup row" method="post">
			{% csrf_token %}
				<article class="form-group col-md-3">
					<label>תמונה:</label>
					<input id="id_image" class="form-control" name="image" type="file">
				</article>

				<article class="form-group col-md-2">
					<label>תגיות:</label>
					<input id="id_tags" class="form-control" name="tags" type="text">
				</article>

				<article class="form-group col-md-2">
					<label>קטגוריות:</label>
					<select multiple="multiple" class="form-control" id="id_categories" name="categories">
						{% for c in categories %}
						<option value="{{ c.id }}">{{ c.name }}</option>
						{% endfor %}
					</select>
				</article>
				<input type="hidden" value="{{ user.id }}" name="user" />
				<button type="submit" class="btn btn-info col-md-2">הרשם!</button>
			</form>
			{% endif %}
		</section>
	</section>
</div>
{% endblock %}
