<div class="modal fade" data-backdrop="static" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="Send message" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-keyboard="false" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">ערוך פרופיל</h4>
        <p class="error hide" id="errors"></p>
      </div>
      <div class="modal-body">
       <form id="messageForm">
       	<article class="form-group">
			<label for="reciever">ל:</label>
			<input type="text" id="messageReceiver" name="receiver" class="form-control" data-user-id="" readonly="readonly" value="d" />
		</article>
		<article class="form-group">
			<label for="messageTitle"></label>
			<input type="text" id="messageTitle" name="title" class="form-control" value="d" />
		</article>
       	<article class="form-group">
			<label for="first_name">הודעה:</label>
			<textarea type="text" rows="6" class="form-control" name="message" id="userMessage"></textarea>
		</article>
      </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">בטל</button>
        <button type="button" class="btn btn-primary">שלח</button>
      </div>
    </div>
  </div>
</div>