{% extends "base.html" %}
{% block body %}
<div class="create-post">
	<section class="errors">
	{% if form.errors %}
		{{ form.errors }}
	{% endif %}	
	</section>
	<form action="{% url 'create_post' %}" class="row" method="post">
			{% csrf_token %}
				<div class="form-group col-md-2">
					<label>כותרת:</label>
					<input id="id_title" class="form-control" maxlength="50 form-control" name="title" type="text">
				</div>
				<div class="form-group col-md-4">
					<label>תוכן:</label>
					<textarea id="id_content" class="form-control" name="content" ></textarea>
				</div>
				<div class="form-group col-md-2">
					<label>תגיות:</label>
					<input id="id_tags" class="form-control" name="tags" type="text">
				</div>

				<div class="form-group col-md-2">
					<label>קטגוריות:</label>
					<select multiple="multiple" class="form-control" id="id_categories" name="categories">
						{% for c in categories %}
						<option value="{{ c.id }}">{{ c.name }}</option>
						{% endfor %}
					</select>
				</div>
				<input type="hidden" value="{{ user.id }}" name="sender" />
				<div class="btn-wrapper">
				<button type="submit" class="btn btn-info col-md-2">המשך!</button>
				</div>
			</form>
	
	
</div>
{% endblock %}
