nav{
  font-size: 20px;
  text-align: center;
  li{
    display: inline-block;
  }
}

footer {
  position: static;
  text-align: center;
  background-color: #AD4;
}


.page404{
  img{
    display:block;
    margin:50px auto; 
  }
}
