.home {
  .tags {
    display: inline-block;
  }
  .cat-wrapper, .post-wrapper{
    border: 1px solid #e5e5e5; 
    margin-bottom:8px;
    padding:5px;
  }
  
  .post-owner{
    position: absolute;
    left: 15px;
    bottom: 20px;
  }
  
  .owner-profile{
    position: absolute;
    left: 15px;
    bottom: 0px;
  }
}