{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Bogrim</title>
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bootstrap-rtl.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/bogrim.css' %}" rel="stylesheet">
{% block extra_head %}
{% endblock %}
</head>
<body>
  <div class="container">
	<nav class="row">
		<ul class="nav navbar-nav col-md-12">
			<li><a href="{% url 'home' %}">בית</a></li>
			<li><a href="{% url 'test' %}">בדיקות</a></li>
			{% if user.is_authenticated %}
			<li><a href="{% url 'logout' %}">התנתק</a></li>
			<li><a title="דף האישי" id="navbarName" href="{% url 'account_info' %}">{{ user.get_full_name }}</a></li>
			{% else %}
			<li><a href="{% url 'signup' %}">הרשמה</a></li>
			<li><a href="{% url 'login' %}">כניסה</a></li>
			{% endif %}
		</ul>
	</nav>

{% block body %}
{% endblock %}
	<footer class="row">
		<section class="col-md-12">
		Footer
		</section>
	</footer>
  </div>
<script src="{% static 'js/jquery-1.11.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.min.js' %}" type="text/javascript"></script>
{% block extra_body %}
{% endblock %}

<script type="text/javascript">
$(document).ready(function(){
{% block jquery_ready %}

{% endblock %}
	
});
</script>
</body>
</html>