{% extends "base.html" %}
{% block body %}
<div class="home">
	{% csrf_token %}
	<article class="post-wrapper">
		<article class="row">
			<a class="col-md-12" href="{% url 'create_post' %}">פוסט חדש!</a>
		</article>
	</article>
			{% for p in posts %}
	<section class="post-wrapper">
		<article class="row post-row">
			<article class="col-md-6">
				<h2>{{ p.title }}</h2>
			</article>
			<article class="col-md-3">
				<h4>קטגוריות:</h4>
				<p>
					{% for c in p.categories.all %}
					{% if not forloop.first %}, {% endif %}
		            {{ c.name }}
		       		{% endfor %}
				</p>
			</article>
			<article  class="col-md-3">
				<h4>תגיות:</h4>
				<p>
					{% for t in p.tags.all %}
					{% if not forloop.first %}, {% endif %}
		            {{ t.name }}
		       		{% endfor %}
				</p>
			</article>
		</article>
		<article class="row">
			<article class="col-md-12">
				<h4>תוכן:</h4>
				<p>
		            {{ p.content }}
				</p>
				{% if user.is_authenticated %}
				<a href="#" class="post-owner btn btn-info" data-resource-id="{{ p.id }}" data-toggle="modal" data-resource-value="שתפ ל-{{ p.title }}" data-target="#messageModal" data-user-name="{{ p.sender.get_full_name }}" data-user-id="{{ p.sender.id }}">שת"פ</a>
				<a class="left owner-profile" target="_blank" href="{% url 'account_info' %}{{ p.sender.id }}">{{ p.sender.get_full_name }}</a>
				{% else %}
				<a href="{% url 'login' %}" class="post-owner" >{{ p.sender.get_full_name }}</a>
				{% endif %}
			</article>
		</article>
	</section>
			{% endfor %}
	<hr />
	<section class="row cat-row">
	{% for c in categories %}
		<article class="col-md-12">
		  <article class="cat-wrapper">
			<h3>{{ c.name }}</h3>
			<img src="{{ c.icon.url }}" />
		{% for t in c.tags.get_query_set %}
			<p class="tags">
			{% if not forloop.first %}, {% endif %}
            {{ t.name }}
            </p>
        {% endfor %}
          </article>
		</article>
	{% endfor %}
	</section>
</div>
{% if user.is_authenticated %}
	{% include "base/message_modal.html" %}
{% endif %}
{% endblock %}
{% block jquery_ready %}
	{% if user.is_authenticated %}
		{% include "base/message_script.html" %}
	{% endif %}
{% endblock %}
